<div id="ast-universalbar">
	<div class="limiter">
		<div id="ast-ub-title"><span class="star">*</span> Asterisk Security Toolset</div>
		<div id="ast-ub-subtitle">Delivery Tracking System</div>
		<div id="ast-ub-options">
			<ul>
				<li><%= link_to('Change your password', :controller => :home, :action => :changepwdview) %></li>
				<li><%= link_to('Logout', :destroy_client_session, :method => :delete) %></li>
			</ul>
		</div>
	</div>
</div>