<div id="ast-universalbar">
	<div class="limiter">
		<div id="ast-ub-title"><span class="star">*</span> Asterisk Security Toolset</div>
		<div id="ast-ub-subtitle">Delivery Tracking System</div>
		<div id="ast-ub-options">
			<ul>
				<li><%= link_to('Change your password', :dtsadmin_password_change) %></li>
				<li><%= link_to('Logout', :destroy_admin_session, :method => :delete) %></li>
			</ul>
		</div>
	</div>
</div>